@import "@/styles/font-faces.css";

body {
	font-family: "Montserrat";
	font-weight: 400;
}

h1,
.h1 {
	@apply text-4xl;
	font-family: "Garamond";
	font-weight: 500;
}

h2,
.h2 {
	@apply text-3xl;
	font-weight: 700;
}

h3,
.h3 {
	@apply text-2xl;
	font-weight: 700;
}

span,
.span {
	font-weight: 600;
}

label {
	@apply text-primary text-sm tracking-wide;
	font-weight: 600;
}

input {
	@apply outline-none;
}

input::placeholder {
	@apply text-black text-sm sm:text-base md:text-lg xl:text-xl uppercase tracking-widest;
	font-weight: 600;
}

textarea::placeholder {
	@apply text-primary;
}
